.footer {
  background-color: #0c1726;
  color: #ffffff;
  padding: 20px;
}

.info {
  display: block;
  justify-content: space-around;
}



.info h2 {
  font-size: 16px;
}

.info p {
  font-size: 12px;
}

.finish {
  padding: 30px;
  font-size: 10px;
  text-align: center;
}

.buttonFinish {
  border: none;
  font-size: 10px;
  color: #ffffff;
  background: transparent;
  padding: 0;
  font-weight: 700;
  text-decoration: underline #ffffff;
  cursor: pointer;
}
