.formContainer {
  margin: 30px;
}

.form {
  margin-top: 10px;
}

.labelForm {
  display: block;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

.textForm {
  outline: none;
  display: block;
  border: solid 1px #0c1726;
  width: 100%;
  border-radius: 6px;
  font-size: 14px;
  height: 24px;
  padding-left: 10px;
}

.textAreaForm {
  margin-top: 10px;
  padding: 10px;
  display: block;
  width: 100%;
  border: 0;
  background-color: #0c1726;
  border-radius: 6px;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  padding-left: 10px;
  height: 200px;
}
.textAreaForm p{
  font-size: 18px;
  margin: 0;
}
