.header {
  background-color: #0c1726;
  color: #ffffff;
  margin: 0;
  padding: 1px;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 30px;
  display: none;
  font-size: 20px;
  text-align: center;
}

@media (min-width: 768px) {
  .nav {
    display: flex;
    justify-content: space-around;
  }
}

.item {
  font-weight: bold;
  color: #8c8377;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;
  transition: 0.3s ease all;
}
.item:hover {
  color: #ffffff;
}

.dropdown {
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  display: none;
  list-style: none;
  background-color: #2b4157;
  transform: translateY(1px);
}

.item:hover .dropdown {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.subItem {
  padding: 10px 0;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: 2px;
  border-color: #ffffff;
  color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 400;
}

.subItem:hover {
  font-weight: 700;
}

.dropdownTwo {
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  top: 60%;
  width: auto;
  display: none;
  list-style: none;
  transform: translateX(100%);
  background-color: #2b4157;
}

.subItem2 {
  padding: 10px 0;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: 2px;
  border-color: #ffffff;
  color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 400;
}

.subItem:hover .dropdownTwo {
  display: block;
}

.subItem2:hover {
  font-weight: 700;
}
