.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 80px;
}

.swiper {
  max-width: 90%;
}

@media (min-width: 1024px) {
  .swiper {
    max-width: 80%;
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  color: white;
  background-color: #3c5973;
  border-radius: 12px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 32px;
  padding-bottom: 32px;
  height: 156px;
  width: 110px;
}

.imageCard {
  height: 60px;
  width: 60px;
  padding-left: 25%;
  border-radius: 50%;
}

.titleCard {
  font-size: 16px;
  margin: 0;
}

.contentCard {
  font-size: 10px;
  margin: 0;
}

@media (min-width: 1024px) {
  .card {
    height: 315px;
    width: 223px;
  }

  .imageCard {
    height: 100px;
    width: 100px;
  }
  
  .titleCard{
    font-size: 30px;
  }

  .contentCard{
    font-size: 16px;
  }
}
