.radioContainer {
  margin: 30px;
}

.radio {
  background-color: #0c1726;
  color: #ffffff;
  padding: 30px;
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 20px;
}

.radioCheck {
  padding-top: 20px;
  padding-bottom: 20px;
}

.check {
  margin-right: 20px;
  font-size: 20px;
}
